body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(222, 222, 227);

}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

#supportHero input{
  width: 80%;
  padding: 16px;
  margin-left: 100px;
  border: none;
  border-radius: 10px;

}

#supportWrapper button{
  height: 80%;
}


.form_container{
  margin: auto;
}